h1 {
    padding-left: 1rem;
}
label {
    color: orangered;
}
#askForWeather {
    padding-left: 1rem;
}
#showWeather {
    max-width: 36rem;
    padding-left: 1rem;
    max-width: 36rem; 
    padding-left: 1rem;
}
#location {
    color: brown;
}
#currentTemperature {
    color: black;
    font-size: 1.2em;
}
#description {
    color: purple;
}

